.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100svh;
    width: 100svw;
    justify-content: center;
    align-items: center;

    && .btn {
        padding: 10px 20px;
        color: #FFF;
        font-weight: 600;
        background-color: #a35f06;
    }
}

.accordian {
    width: 600px;
    border-radius: 10px;
}

.item {
    background-color: #1a4ea7;
    margin-bottom: 10px;   
    padding: 10px 20px;
}

.title {
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;


}



.content {
    color: #FFF;
    height: auto;
    margin: 1em;
}